<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./templates/header')%>
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Nuevo Plato</h1>
            </div>
            <div class="card-body">
                <form action="/" method="post">
                    <label for="id">Id Plato</label>
                    <input type="text" name="id" id="id">

                    <label for="name">Nombre Plato</label>
                    <input type="text" name="name" id="name">

                    <button type="submit" class="btn btn-primary">Enviar Datos</button>
                </form>
            </div>
        </div>
    </div>
    <%-include('./templates/footer')%>
</body>
</html>